@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';
body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    color: #555;
}

#post-job {
    margin-right: 20px;
}

.browser-job, .post-job-nav {
    margin-right: 10px;
}

h1,
h2,
strong {
  color: #333;
}

code,
pre {
  background: #eee;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
}

.btn-width {
    width: 100%;
}

#title, #job-company, #job-list, #job-details,
#company-details, #find-details, #contri-h2{
    text-align:center;
    color: #555;
}

.contri-empty-h3 {
    text-align:center;
    color: gray;
}
