@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';
body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    color: #555;
}

#post-job {
    margin-right: 20px;
}

.browser-job, .post-job-nav {
    margin-right: 10px;
}

h1,
h2,
strong {
  color: #333;
}

code,
pre {
  background: #eee;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
}

.btn-width {
    width: 100%;
}

#title, #job-company, #job-list, #job-details,
#company-details, #find-details, #contri-h2, #signin-h2 {
    text-align:center;
    color: #555;
}

.contri-empty-h3 {
    text-align:center;
    color: gray;
}

.index-img, .profile-img, .fire-img{
    max-width: 100%;
}

@media screen and (min-width: 768px) { 
    .profile-p {
        font-size: 3rem !important;
        margin-top: 30%;
    }
}

@media screen and (min-width: 992px) { 
    .profile-p {
        font-size: 4rem !important;
        margin-top: 35%;
    }
}

.profile-p {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.repe-btn {
    text-align: center;
}

.socialaccount_provider {
    font-size: 2.4rem;
}

.socialaccount_ballot {
    text-align: center;
}

#github-mark {
    max-width: 100%;
}

#github-alert {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 0.8rem;
}

.index-a {
    display: block;
    cursor: pointer;
    margin-bottom: 20px;
}

.index-p {
    text-align: center;
    font-size: 2rem;
}

#jobder-name {
    font-size: 3rem;
}
