#title, #company {
    text-align:center;
    color: #555;
}

.icon.source {
    background-image: url(../imgs/repo-source.png);
}

#company {
    margin-top: 50px;
}

.job-wrapper, #company-des {
    margin-bottom: 15px;
}

.job-div, .company-div {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.job-repos {
    display: inline-block;
    padding-bottom: 6px;
}

#job-des, #company-des {
    font-size: 2.2rem;
}

.job-button-wrapper {
    display: inline-block;
    padding: 6px 10px 6px 0px;
}

#salary {
    font-size: 2.2rem;
    color: ;
    margin-right: 20px;
}

#onsite, #location, #apply {
    font-size: 2.2rem;
}

.repo-span, #salary, #onsite, #location, #apply {
    display: inline-block;
    padding: 7px 10px 7px 10px;
    margin-right: 7px;
    margin-bottom: 7px;
    color: #fff;
    font-size: 2rem;
    text-shadow: 0 1px 0 rgba(0, 51, 83, 0.3);
    background-repeat: repeat-x;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), inset 0 1px rgba(255, 255, 255, 0.03);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), inset 0 1px rgba(255, 255, 255, 0.03); 
}

.repo-span {
    background-color: #1b9dec;
    background-image: -moz-linear-gradient(top, #1da7ee, #178ee9);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1da7ee), to(#178ee9));
    background-image: -webkit-linear-gradient(top, #1da7ee, #178ee9);
    background-image: -o-linear-gradient(top, #1da7ee, #178ee9);
}

#salary {
    background-color: #ff3c7d;
    background-image: -moz-linear-gradient(top, #fc588f, #ff3c7d);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fc588f), to(#ff3c7d));
    background-image: -webkit-linear-gradient(top, #fc588f, #ff3c7d);
    background-image: -o-linear-gradient(top, #fc588f, #ff3c7d);
}

#location, #onsite, #apply {
    background-color: #385acb;
    background-image: -moz-linear-gradient(top, #4463cb, #385acb);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4463cb), to(#385acb));
    background-image: -webkit-linear-gradient(top, #4463cb, #385acb);
    background-image: -o-linear-gradient(top, #4463cb, #385acb);
}
