.selectize-control.repositories .selectize-dropdown > div {
    border-bottom: 1px solid rgba(0,0,0,0.05);
}

.job-label {
    font-size: 1.8rem;
    color: #365bcd;
}

.job-special {
    color: #ff3c7d;
}

.selectize-control.repositories .selectize-dropdown .by {
    font-size: 11px;
    opacity: 0.8;
}

.selectize-control.repositories .selectize-dropdown .by::before {
    content: 'by ';
}

.selectize-control.repositories .selectize-dropdown .name {
    font-weight: bold;
    margin-right: 5px;
}

.selectize-control.repositories .selectize-dropdown .title {
    display: block;
}

.selectize-control.repositories .selectize-dropdown .description {
    font-size: 12px;
    display: block;
    color: #a0a0a0;
    white-space: nowrap;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.selectize-control.repositories .selectize-dropdown .meta {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 10px;
}

.selectize-control.repositories .selectize-dropdown .meta li {
    margin: 0;
    padding: 0;
    display: inline;
    margin-right: 10px;
}

.selectize-control.repositories .selectize-dropdown .meta li span {
    font-weight: bold;
}

.selectize-control.repositories::before {
    -moz-transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    content: ' ';
    z-index: 2;
    position: absolute;
    display: block;
    top: 12px;
    right: 34px;
    width: 16px;
    height: 16px;
    background: url(../imgs/spinner.gif);
    background-size: 16px 16px;
    opacity: 0;
}

.selectize-control.repositories.loading::before {
    opacity: 0.4;
}

.icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    background-size: 16px 16px;
    margin: 0 3px 0 0;
}

.icon.fork {
    background-image: url(../imgs/repo-fork.png);
}

.icon.source {
    background-image: url(../imgs/repo-source.png);
}

.selectize-dropdown-content {
    max-height: 400px;    
}

.search-col {
    margin-top: 3em;
}

.selectize-control.multi .selectize-input > div {
    padding: 7px 10px;
}

.selectize-dropdown, .selectize-input, .selectize-input input {
    font-size: 16px;
}

.selectize-input {
    min-height: 51px;
}

.selectize-input > input {
    margin-top: 10px !important;
}

#company-des, #job-looking {
    width: 100%;
}

#user-settings {
    text-align:center;
}

.public-checkbox {
    margin-top: 10px;
    margin-bottom: 20px;
}
