#avatar-div {
    padding: 10%;
}

#avatar-img {
    max-width: 100%;
    border-radius: 50%;
}

#user-bio {
    text-align: left;
}

.content-p {
    line-height: 2rem;
    height: 6rem;       /* height is 2x line-height, so two lines will display */
    color: #586069;
    overflow: hidden;  /* prevents extra lines from being visible */
}

.wrapper-border {
    border: 1px #d1d5da solid;
    margin: 6px;
    border-radius: 3px;
    padding: 20px;
}

.content-p {
    margin-top: 10px;
}

#total-star-p, #total-contributed-p {
    text-align: center;
    font-size: 10rem;
}

#total-stars-text, #total-contributed-text {
    text-align: center;
    font-size: 3rem;
}

.content-lan {
    margin-right: 20px;
}

.total-contributed-div, .total-star-div {
    padding-top: 80px;
}

.fluent-div {
    margin-bottom: 50px;
}

.page-header {
    margin-top: 0px;
    border-bottom: 0px;
}

.page-h2 {
    padding-top: 0;
}
