#avatar-div {
    padding: 10%;
}

#avatar-img {
    max-width: 100%;
    border-radius: 50%;
}

#user-bio {
    text-align: left;
}

.content-p {
    line-height: 2rem;
    height: 6rem;       /* height is 2x line-height, so two lines will display */
    color: #586069;
    overflow: hidden;  /* prevents extra lines from being visible */
}

.wrapper-border {
    border: 1px #d1d5da solid;
    margin: 6px;
    border-radius: 3px;
    padding: 12px;
}

.content-p {
    margin-top: 10px;
}

#total-star-p {
    text-align: center;
    font-size: 8rem;
}

#total-start-p-text {
    text-align: center;
    font-size: 3rem;
}

.content-lan {
    margin-right: 20px;
}
