.repos-created {
    text-align: center;
}

.repos-container {
    margin-bottom: 50px;
}

#avatar-div {
    padding: 10%;
}

#avatar-img {
    max-width: 100%;
    border-radius: 50%;
}

#user-blog-a, #user-linkedin {
    word-wrap:break-word;
}

#user-bio {
    word-wrap:break-word;
}

.content-p {
    line-height: 2rem;
    height: 4rem;
    color: #586069;
    overflow: hidden;
}

.wrapper-border {
    border: 1px #d1d5da solid;
    margin: 6px;
    border-radius: 3px;
    padding: 20px;
}

.content-p {
    margin-top: 10px;
}

.content-lan {
    margin-right: 20px;
}

.fluent-div {
    margin-bottom: 50px;
}

.page-header {
    margin-top: 0px;
    border-bottom: 0px;
}

.page-h2 {
    padding-top: 0;
}

.total-star-div, .total-contributed-div{
    margin-top: 22%;
}

#total-contributed-p, #total-star-p {
    text-align: center;
    font-weight: bold;
    font-size: 8rem;
}

#total-stars-text, #total-contributed-text {
    text-align: center;
    font-size: 3rem;
}

@media screen and (max-width: 768px) { 
    #total-contributed-p, #total-star-p {
        text-align: center;
        font-weight: bold;
        font-size: 6rem;
    }

    .total-star-div, .total-contributed-div{
        margin-top: 20%;
    }
}

@media screen and (max-width: 414px) { 
    #total-contributed-p, #total-star-p {
        text-align: center;
        font-weight: bold;
        font-size: 4rem;
    }

    #total-stars-text, #total-contributed-text {
        font-size: 2rem;
    }
    
    .total-star-div, .total-contributed-div{
        margin-top: 0%;
    }
}


