{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load account socialaccount %}
{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/settings.css' %}" />
{% endblock %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
      <h2 id="signin-h2">Please Sign In With GitHub</h2>
      {% get_providers as socialaccount_providers %}
      {% if socialaccount_providers %}
      <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
          <img id="github-mark" src="{% static 'imgs/github-mark.png' %}"/>
        </div>
      </div>
      <div class="socialaccount_ballot">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
      </div> <!-- end socialaccount_ballot" -->
      {% include "socialaccount/snippets/login_extra.html" %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
