{% load staticfiles %}
{% load socialaccount %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    {% block styles %}
    <link rel="shortcut icon" href="{% static 'imgs/notes.png' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% endblock %}

    {% block extra_styles %}
    {% endblock %}

    <title>
    {% block title %}Jobder - Find the job you love{% endblock %}
    </title>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-default active">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" title="">
              JOBDER
            </a>
          </div> <!-- end navbar-header -->

          <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <p id="post-job">
                <a href="{% url 'browse' %}" class="btn btn-default navbar-btn browser-job" title="">Browse Jobs</a>
                <a href="{% url 'post_job' %}" class="btn btn-default navbar-btn post-job-nav" title="">Post A Job</a>
                </p>
              </li>
              <li>
              {% if user.is_authenticated %}
              <input type="hidden" id="api-token" value="{{ user.socialaccount_set.first.socialtoken_set.first.token}}" />
              <a id="nav-user-name" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.username }}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'contributers' %}">Find Contributers</a></li>
                    {% if request.user.post.count > 0 %}
                    <li><a href="{% url 'posted_jobs' %}">Jobs created</a></li>
                    {% endif %}
                  <li role="separator" class="divider"></li>
                  <li><a href="{% url 'profile' name=''|add:user.username %}">Profile</a></li>
                  <li><a href="{% url 'settings' %}">Settings</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="{% url 'account_logout' %}">Log Out</a></li>
                </ul>
              {% endif %}
              </li>
            </ul>
          </div> <!-- end navbar-collapse -->
        </div> <!-- end container -->
      </nav>
    </header>
    
  {% block content %}
  {% endblock %}
  
  {% block scripts %}
  <script src="{% static 'js/js_lib/jQuery.min.js' %}"></script>
  <script src="{% static 'js/main.0cf8b554.js' %}"></script>
  <script src="{% static 'js/base.js' %}"></script>
  {% endblock %}

  {% block extra_scripts %}
  {% endblock %}

  </body>
  
  {% block footer %}
  <footer class="footer-container white-text-container">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h3>Jobder</h3>
            <div class="row">
              <div class="col-xs-12 col-sm-7">
                <p><small>Website created with <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></small>
                </p>
              </div>
              <div class="col-xs-12 col-sm-5">
                <p class="text-right">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                  </a>
                  <a href="https://twitter.com/" class="social-round-icon white-round-icon fa-icon" title="">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                  </a>
                  <a href="https://www.linkedin.com/" class="social-round-icon white-round-icon fa-icon" title="">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                  </a>
                </p>
              </div>
            </div>
            
            
          </div>
        </div>
      </div>
  </footer>
  {% endblock %}
</html>
