{% extends "base.html" %}
{% load staticfiles %}
{% load socialaccount %}
{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/settings.css' %}" />
{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
        <h2 id="user-settings">{{ request.user.username }}</h2>
        {% if last4 %}
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Current Card</th>
              <th scope="col">Ending in</th>
              <th scope="col">Expires</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ stripe_name }}</td>
              <td>{{ last4 }}</td>
              <td>{{ exp_year }}</td>
            </tr>
          </tbody>
        </table>
        {% else %}
        <h4>You don't have any card yet.</h4>
        {% endif %}
        <input id="user-id" type="hidden" value="{{ user.id }}" />
        <form class="pull-right" action="{% url 'card_callback' %}" method="POST">
          <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="pk_test_fEJG3FbEEKCGhriUfqjWJZG5"
          data-name="Open Source Jobs"
          data-panel-label="Update Card Details"
          data-label="Update Card Details"
          data-allow-remember-me=false
          data-locale="auto">
          </script>
        </form>
      </div> <!-- end col-xs -->
    </div> <!-- end row -->
  </div> <!-- end container -->
{% endblock %}
