{% extends "base.html" %}
{% load staticfiles %}
{% load socialaccount %}
{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/css_lib/selectize_default.css' %}" />
<link rel="stylesheet" href="{% static 'css/contributors.css' %}" />
{% endblock %}
{% block content %}
  <div class="contri-div container">
    <div class="find-row row">
      <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
        <h2 id="find-details">Find Contributors</h2>
        <div class="control-group">
          <div class="row">
            <div class="col-sm-10 col-xs-12">
              <select id="select-open-source" class="repositories" placeholder="Type in a repository..."></select>
            </div>
            <div class="col-sm-2 col-xs-12 find-repo-div">
              <a href="javascript:void(0)" class="btn btn-primary search-btn" role="button">Search</a>
            </div> <!-- end col-xs-2 -->
          </div> <!-- end row -->
          <span>Try &nbsp;</span>
          {% for repo in repos %}
          <span>{{ repo.repo_name }} &nbsp; &nbsp;</span>
          {% endfor %}
        </div> <!-- end control-group -->
      </div> <!-- end col-xs -->
    </div> <!-- end row -->
    <div class="contri-row row">
      <div class="contri-col">
      </div>
    </div>
  </div> <!-- end container -->
{% endblock %}
{% block extra_scripts %}
<script src="{% static 'js/js_lib/selectize.min.js' %}"></script>
<script src="{% static 'js/contributors.js' %}"></script>
{% endblock %}
