{% extends "base.html" %}
{% load staticfiles %}
{% load socialaccount %}
{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/css_lib/selectize_default.css' %}" />
<style>
.why-div p {
    font-size: 2rem;
}
</style>
{% endblock %}
{% block title %}Why we built Open Source Jobs - Open Source Jobs{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="why-div col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
      <h2 id="why-h2">Q & A</h2>
      <p>Q: Why you built Open Source Jobs</p>
      <p>A: <a href="https://medium.com/@wiwindson/why-we-should-hire-open-source-contributors-7ea5b1b4f5ae">A better way to hire</a></p>
    </div>
  </div>
</div>
{% endblock %}
