{% extends "base.html" %}
{% load staticfiles %}
{% load socialaccount %}
{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/css_lib/selectize_default.css' %}" />
<style>
.why-div p {
    font-size: 2rem;
}
</style>
{% endblock %}
{% block title %}Jobder - Search Contributors{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="why-div col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
      <h2 id="why-h2">Q & A</h2>
      <p>Q: Why I need to use GitHub account to login, why not just use my GitHub user name to match?</p>
      <p>A: GitHub api has <a href="https://developer.github.com/v4/guides/resource-limitations/">rate limit</a>, so we need your GitHub api token to request your repos data. 
      <p>Q: Why Jobder ask for read/write permission to my GitHub repos instead of read only?</p>
      <p>A: Unfortunately, GitHub doesn't <a href="https://developer.github.com/apps/building-oauth-apps/scopes-for-oauth-apps/">porvide public repos read only permission on their api right now</a>(Surprise? Me too). You can also find the discuss <a href="https://github.com/jollygoodcode/jollygoodcode.github.io/issues/6">here</a>. We will never write any data on your GitHub repos.</p> 
      <p>Q: Why You built Jobder</p>
      <p>A: When I contributed to django, I meet great people like Tim Graham and Simon Charette, they are both excellent engineers and always nice to the newbie. I'm sure they are great employees that every company searching for as well as everyone will love to work with them. Products just time to time, long live open source.</p>
    </div>
  </div>
</div>
{% endblock %}
