{% extends "base.html" %}
{% load staticfiles %}
{% load socialaccount %}

{% block content %}
  <div class="hero-full-container background-image-container white-text-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1 id="open-source-h1">Open Source Jobs</h1>
          <p>FIND JOBS THAT MATCH YOU OPEN SOURCE CONTRIBUTIONS.</p>
          <br>
          <div class="row">
            <div class="col-sm-4 col-sm-offset-4 col-xs-8 col-xs-offset-2">
              <form id="search-form" class="form-horizontal">
                <div class="form-group">
                  <div>
                    <input name="github" type="text" class="form-control" id="github-name" value="" placeholder="Your GitHub Username"/>
                  </div>
                </div> <!-- end form-group -->
              </form>
            </div> <!-- end col-sm-4 -->
          </div> <!-- end row -->
          <button id="find-match-btn" class="btn btn-default btn-lg" title="">{{ FIND }}</button>
          <button id="profile-btn" class="btn btn-default btn-lg" title="">{{ PROFILE }}</button>
        </div> <!-- end col-xs-12 -->
      </div> <!-- end row -->
    </div> <!-- end container -->
  </div> <!-- end hero-full-container -->
  
  <!-- start container -->
  <div class="section-container">
    <div class="container">
      <div class="row">      
        <h2 class="text-center">How This Works</h2>
          <div class="col-xs-12">
            <div id="carousel-example-generic" class="carousel carousel-fade slide" data-ride="carousel">
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <img class="img-responsive" src="{% static 'imgs/find_job.png' %}" alt="First slide">
                  <div class="carousel-caption card-shadow reveal">
                    <h3>Better job are everywhere</h3>
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                      <i class="fa fa-chevron-left" aria-hidden="true"></i>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                      <i class="fa fa-chevron-right" aria-hidden="true"></i>
                      <span class="sr-only">Next</span>
                    </a>
                    <p class="details-if">Open Source Jobs will recommend companies for you depend on your open source contributions.</p>
                    <p>Companies use Open Source Jobs love contributors. Because contributors like you build great software. When you contributing open source projects from everywhere. We are helping you find the company values your contributions.</p>
                  </div> <!-- end carousel-caption -->
                </div> <!-- end item active -->
                <div class="item">
                  <img class="img-responsive" src="{% static 'imgs/contri_lists.png' %}" alt="First slide">
                  <div class="carousel-caption card-shadow reveal">

                    <h3>Contributors are better employees</h3>
                      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        <span class="sr-only">Next</span>
                      </a>
                    <p class="details-if">Open Source Jobs is a platform that let you post jobs and search contributors who are looking for jobs. We will also show your jobs to contributors who match your company's tech stacks.</p>
                    <p>If you are looking for engineering employees who are patient, consistent and have great interpersonal skills. You are looking for open source contributors :D.</p>
                  </div> <!-- end carousel-caption -->
                </div> <!-- end item -->
              </div> <!-- end carousel-inner -->
            </div> <!-- end carousel-example-generic -->
          </div> <!-- end col-xs-12 -->
        </div> <!-- end row --> 
    </div> <!-- end container -->
  </div> <!-- end section-container -->
  <hr>
  <!-- profile-container --> 
  <div class="section-container">
    <div class="container">
      <div class="row">
        <h2 class="text-center">What you can do with Open Source Jobs</h2>
        <span class="index-a col-sm-6 col-xs-12">
          <img src="{% static 'imgs/projects_small.png' %}" alt="project small" class="index-img"/>
          <p class="index-p">Find jobs that match your open source contributions</p>
        </span>
        <span class="index-a col-sm-6 col-xs-12">
          <img src="{% static 'imgs/languages.png' %}" alt="languages" class="index-img"/>
          <p class="index-p">GitHub Contributions statistics</p>
        </span>
      </div> <!-- end row -->
      <hr>
      <div class="row">
        {% if user.is_authenticated %}
        <a href="{% url 'post_job' %}" target="_blank" class="index-a col-sm-6 col-xs-12">
        {% else %}
        <a href="{% provider_login_url 'github' %}" target="_blank" class="index-a col-sm-6 col-xs-12">
        {% endif %}
          <img src="{% static 'imgs/job_example.png' %}" alt="job example" class="index-img"/>
          <p class="index-p">Post Jobs to find contributors</p>
        </a> <!-- end index-a -->
        {% if user.is_authenticated %}
        <a href="{% url 'contributors' %}" target="_blank" class="index-a col-sm-6 col-xs-12">
        {% else %}
        <a href="{% provider_login_url 'github' %}" target="_blank" class="index-a col-sm-6 col-xs-12">
        {% endif %}
          <img src="{% static 'imgs/search_small.png' %}" alt="search small" class="index-img"/>
          <p class="index-p">Search contributiors who are looking for job</p>
        </a> <!-- end index-a -->
      </div> <!-- end row -->
      <hr>
    </div> <!-- end container -->
  </div> <!-- end section-container -->
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'js/header.js' %}"></script>
{% endblock %}
