{% extends "base.html" %}
{% load staticfiles %}
{% load socialaccount %}

{% block content %}
  <div class="hero-full-container background-image-container white-text-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1>Jobder</h1>
          <p>FIND THE JOB MATCH YOU OPEN SOURCE CONTRIBUTIONS.</p>
          <br>
          {% if user.is_authenticated %}
          <a href="{% url 'match' %}" class="btn btn-default btn-lg" title="">{{ FIND }}</a>
          {% else %}
          <a href="{% provider_login_url 'github' %}" class="btn btn-default btn-lg" title="">{{ LOGIN }}</a>
          {% endif %}
        </div> <!-- end col-xs-12 -->
      </div> <!-- end row -->
    </div> <!-- end container -->
  </div> <!-- end hero-full-container -->
  
  <!-- start container -->
  <div class="section-container">
    <div class="container">
      <div class="row">      
          <div class="col-xs-12">
            <div id="carousel-example-generic" class="carousel carousel-fade slide" data-ride="carousel">
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <img class="img-responsive" src="{% static 'imgs/img-06.jpg' %}" alt="First slide">
                  <div class="carousel-caption card-shadow reveal">
                    <h3>Find your dream job</h3>
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                      <i class="fa fa-chevron-left" aria-hidden="true"></i>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                      <i class="fa fa-chevron-right" aria-hidden="true"></i>
                      <span class="sr-only">Next</span>
                    </a>
                    <p>Find the company value your tech stack.</p>
                    <p>We will recommend companys for you depend on your stack and open source contributions.</p>
                    <a href="{% url 'match' %}" class="btn btn-primary" title="">
                      Find Your Match
                    </a>
                  </div> <!-- end carousel-caption -->
                </div> <!-- end item active -->
                <div class="item">
                  <img class="img-responsive" src="{% static 'imgs/img-07.jpg' %}" alt="First slide">
                  <div class="carousel-caption card-shadow reveal">

                    <h3>Looking for Genius</h3>
                      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        <span class="sr-only">Next</span>
                      </a>
                    <p>If you are looking for engineering employees who are patient, consistent and have great interpersonal skills. You are looking for open source contributors :D.</p>
                    <p>Jobder is a platform that let you search contributors who are looking for jobs. We will also displays your job lists to contributors who match your company's tech stacks.</p>
                    <a href="{% url 'post_job' %}" class="btn btn-primary" title="">
                      Post A Job
                    </a>
                  </div> <!-- end carousel-caption -->
                </div> <!-- end item -->
              </div> <!-- end carousel-inner -->
            </div> <!-- end carousel-example-generic -->
          </div> <!-- end col-xs-12 -->
        </div> <!-- end row --> 
    </div> <!-- end container -->
  </div> <!-- end section-container -->
  
  <!-- profile-container --> 
  <div class="section-container">
    <div class="container">
      <div class="row">      
        <div class="col-sm-8 col-xs-12">
          <img src="{% static 'imgs/stars.png' %}" alt="" class="profile-img"/>
        </div>
        <div class="col-sm-4 col-xs-12">
          <p class="profile-p">GitHub contributions statistics</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-4 col-xs-12">
          <p class="profile-p">Show your most fluent languages</p>
        </div>
        <div class="col-sm-8 col-xs-12">
          <img src="{% static 'imgs/languages.png' %}" alt="" class="profile-img"/>
        </div>
      </div> <!-- end row -->
      <div class="repe-btn">
      {% if user.is_authenticated %}
        <a href="{% url 'profile' name=''|add:user.username %}" class="btn btn-primary btn-lg">Profile</a>
        {% else %}
        <a href="{% provider_login_url 'github' %}" class="btn btn-primary btn-lg" title="">Login to Search</a>
        {% endif %}
      </div>
    </div> <!-- end container -->
  </div> <!-- end section-container -->
  <!-- customer -->
  <div class="section-container">
    <div class="container text-center">
      <div class="row section-container-spacer">
        <div class="col-xs-12 col-md-12">
          <h2 class="text-center">Customers</h2>
          <p>Praesent at feugiat est, at faucibus ipsum. Aenean condimentum mauris vel malesuada pulvinar. <br>Vestibulum sit amet hendrerit leo, quis vehicula mi.</p>
        </div>  
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <img src="{% static 'imgs/logo-01.png' %}" alt="" class="img-responsive reveal-content image-center">
        </div>
        <div class="col-xs-12 col-md-4">
          <img src="{% static 'imgs/logo-02.png' %}" alt="" class="img-responsive reveal-content image-center">
        </div>
        <div class="col-xs-12 col-md-4">
          <img src="{% static 'imgs/logo-03.png' %}" alt="" class="img-responsive reveal-content image-center">
        </div>
      </div>
    </div>
  </div> <!-- end section-container -->
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'js/header.js' %}"></script>
{% endblock %}

