{% extends "base.html" %}
{% load staticfiles %}
{% load common_extras %}
{% load socialaccount %}
{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/jobs_list.css' %}" />
{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-1">
        <h2 id="job-list">{{ title }}</h2>
        <div>
          {% if type == 'remote' %}
          <a href="{{ request.path }}" class="btn-width btn btn-primary">Show Onsite and Remote Jobs</a>
          {% else %}
          <a href="{{ request.path }}?type=remote" class="btn-width btn btn-primary">Show Remote Jobs</a>
          {% endif %}
        </div>
        <input id="user-id" type="hidden" value="{{ user.id }}" />
        {% for post in posts %}
          <div class="post-div">
            <div class="row">
              <div class="col-sm-8 col-xs-12">
                <a class="job-title" href="/job/{{ post.id }}/">{{ post.title }}</a>
                <i class="fa fa-building building" aria-hidden="true"><span class="company-name">&nbsp;{{ post.company_name }}</span></i>
              </div>
              <div class="col-sm-4 col-xs-12">
                <i class="post-create-time pull-right">{{ post.create_time|timesince }} ago </i>
                {% if title == 'Jobs You Created' %}
                <i class="post-pay-status pull-right">{{ post.pay | yesno:"payed,non-payed" }}</i>
                {% endif %}
              </div>
            </div>
            <div class="repo-div">
              {% if view == 'match' %}
              <span class="percentage" class="repo-span">{{ sorted_percent_list|get_at_index:forloop.counter0 }} Match</span>
              {% endif %}
              {% for repo in post.repo.all %}
              <span class="repo-span">{{ repo.repo_name }}</span> 
              {% endfor %}
              {% if post.type == 0 %}
              <span id="onsite" class="repo-span">Onsite and Remote</span>
              {% elif post.type == 1 %}
              <span id="onsite" class="repo-span">Remote</span>
              {% elif post.type == 2 %}
              <span id="onsite" class="repo-span">Onsite</span>
              {% endif %}
              <span class="location-span repo-span">{{ post.location }}</span>
            </div>
            <div class="job-editor-{{ post.id }}">
            </div>
          </div>
        {% endfor %}
      </div> <!-- end col-xs -->
    </div> <!-- end row -->
  </div> <!-- end container -->
{% endblock %}
{% block extra_scripts %}
<script src="{% static 'js/js_lib/quill.min.js' %}"></script>
<script>
$(document).ready(function() {
    // var posts_list = JSON.parse({{ posts|safe }});
    {% for post in posts %}
        var job_des = {{ post.job_des|safe }};
    set_editor_content(".job-editor-" +  {{ post.id }}, job_des);
    {% endfor %}
});
</script>
{% endblock %}
