{% extends "base.html" %}
{% load staticfiles %}
{% load socialaccount %}
{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/jobs_list.css' %}" />
{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-1">
        <h2 id="job-list">{{ title }}</h2>
        <input id="user-id" type="hidden" value="{{ user.id }}" />
        {% for post in posts %}
          <div class="post-div">
            <div class="row">
              <div class="col-sm-8 col-xs-12">
                <a class="job-title" target="_blank" href="/job/{{ post.id }}/">{{ post.title }}</a>
                <i class="fa fa-building building" aria-hidden="true"><span class="company-name">&nbsp;{{ post.company_name }}</span></i>
              </div>
              <div class="col-sm-4 col-xs-12">
                <i class="post-create-time pull-right">{{ post.create_time|timesince }} ago </i>
                {% if title == 'Jobs You Created' %}
                <i class="post-pay-status pull-right">{{ post.pay | yesno:"payed,non-payed" }}</i>
                {% endif %}
              </div>
            </div>
            <div class="repo-div">
              {% for repo in post.repo.all %}
              <span class="repo-span">{{ repo.repo_name }}</span> 
              {% endfor %}
              <span id="onsite" class="repo-span">{{ post.onsite | yesno:"Remove,Onsite" }}</span>
            </div>
            <p class="job-des">{{ post.job_des }}</p>
          </div>
        </a>
        {% endfor %}
      </div> <!-- end col-xs -->
    </div> <!-- end row -->
  </div> <!-- end container -->
{% endblock %}
{% block extra_scripts %}
{% endblock %}
