{% extends "base.html" %}
{% load staticfiles %}
{% load socialaccount %}
{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/css_lib/selectize_default.css' %}" />
<link rel="stylesheet" href="{% static 'css/post_job.css' %}" />
{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
        <h2 id="user-settings">Job Details</h2>
        <input id="user-id" type="hidden" value="{{ user.id }}" />
        <form id="job-form" class="form-horizontal">
          <div class="form-group">
            <label for="job_title">* Job Title</label>
            <div>
                <input name="job_title" type="text" class="form-control" id="job_title"  placeholder="Senior Back End Engineer" maxlength="50">
            </div>
          </div>
          <div class="form-group">
            <label for="job_looking">* What people you are looking for</label>
            <div>
              <textarea maxlength="600" name="job_looking" id="job-looking" rows="5" cols="35" wrap="soft" placeholder="We're looking for the most tenacious designers, software engineers, product managers. (up to 600 characters)"></textarea>
            </div> <!-- end job-looking -->
          </div> <!-- end form-group -->
          <div class="form-group">
            <div class="control-group">
              <label for="select-open-source">* What contribulers you are looking for, your job will first show to these contributers</label>
              <input type="text" id="select-open-source" class="demo-default" placeholder="Django, Vue">
            </div>
          </div> <!-- end form-group -->
          <div class="form-group">
            <label for="remote">Onsite?</label>
            <select id="onsite-select" class="form-control">
              <option value="0">Both</option>
              <option value="2">Onsite</option>
              <option value="1">Remote</option>
            </select>
          </div> <!-- end form-group -->
          <div class="form-group">
            <label for="salary">Salary Range</label>
              <select id="salary-select" class="form-control">
                <option value="0">$50-$100k</option>
                <option value="1">$100k-$150k</option>
                <option value="2">More than $150k</option>
              </select>
          </div> <!-- end form-group -->
          <h2 id="user-settings">Tell me about your company</h2>
          <div class="form-group">
            <label for="company">* Company Name</label>
            <div>
                <input name="company" type="text" class="form-control" id="company"  placeholder="Google" maxlength="50">
            </div>
          </div>
          <div class="form-group">
            <label for="location">* Location</label>
            <div>
                <input name="location" type="text" class="form-control" id="location"  placeholder="Los Angeles" maxlength="50">
            </div>
          </div>
          <div class="form-group">
            <label for="company_des">* What are your company doing?</label>
            <div>
              <textarea maxlength="600" name="company_des" id="company-des" rows="5" cols="35" wrap="soft" placeholder="We are building a live streaming product and several functionalities around it. Our backend/streaming team uses several custom and open source media and streaming servers."></textarea>
            </div> <!-- end job-des -->
          </div> <!-- end form-group -->
          <div class="form-group">
            <label for="open_source">* How to apply this job</label>
            <div>
              <input name="apply" type="text" class="form-control" id="apply" placeholder="Email address or URL" maxlength="200" />
            </div> <!-- end col-sm-12 -->
          </div> <!-- end form-group -->
          <div class="public-checkbox">
            <label>
              <input id="public-input" type="checkbox" checked><span> This job will not charge money.</span>
            </label>
          </div>
          <div class="form-group">
            <div>
              <button type="submit" class="btn-width btn btn-primary">Confirm and preview</button>
            </div>
          </div>
        </form>
      </div> <!-- end col-xs -->
    </div> <!-- end row -->
  </div> <!-- end container -->
{% endblock %}
{% block extra_scripts %}
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
<script src="{% static 'js/js_lib/selectize.min.js' %}"></script>
<script src="{% static 'js/post_job.js' %}"></script>
{% endblock %}
