{% extends "base.html" %}
{% load staticfiles %}
{% load socialaccount %}

{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>
<link rel="stylesheet" href="{% static 'css/profile.css' %}" />
{% endblock %}

{% block content %}
  <div class="hero-full-container background-image-container white-text-container">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3">
          <div id="avatar-div">
            <img id="avatar-img" src="" />
          </div> <!-- end avatar-div -->
        </div> <!-- end col-xs -->
        <div class="col-xs-6 col-xs-offset-3">
          <h3 id="user-name">{{ user.username }}</h3>
          <p id="user-bio"></p>
          <div>
            <p>Blog: <a id="user-blog-a" href="{{ user.settings.blog }}" target="_blank" >{{ user.settings.blog }}</a></p>
            <p>Linkedin: <a href="{{ user.settings.linkedin }}" target="_blank">{{ user.settings.linkedin }}</a></p>
          </div>
          <br>
          <a href="{% url 'match' %}" class="btn btn-default btn-lg" title="">Find a job</a>
        </div> <!-- end col-xs-12 -->
      </div> <!-- end row -->
    </div> <!-- end container -->
  </div> <!-- end hero-full-container -->

  <!-- start sta -->
  <div class="profile-container">
    <div class="container fluent-div">
      <div class="row">
        <div class="col-xs-8">
          <canvas id="commit-canvas"></canvas>
        </div> <!-- end col-xs-8 -->
        <div class="col-xs-4">
          <div class="total-contributed-div">
            <p id="total-contributed-p">0</p>
            <p id="total-contributed-text">Contributed Repos</p>
          </div> <!-- end total-contributed-div -->
        </div> <!-- end col-xs-4 -->
      </div> <!-- end row -->
    </div> <!-- end container -->
    <hr>
    <div class="container star-div">
      <div class="row">
        <div class="col-xs-5">
          <div class="total-star-div">
          <p id="total-star-p">0</p>
          <p id="total-stars-text">Received Stars</p>
          </div> <!-- end total-star-div -->
        </div> <!-- end col-xs-4 -->
        <div class="col-xs-7">
          <canvas id="state-canvas"></canvas>
        </div> <!-- end col-xs-6 -->
      </div> <!-- end row -->
    </div> <!-- end container -->
    <hr>
  </div> <!-- end section-container -->

  <div class="profile-container">
    <div class="container">
      <div class="row">
        <div class="page-header">
          <h2 class="page-h2">Repos Created        <small>repos created by user</small></h2>
        </div>
        <div class="repo-class">
        </div>
      </div> <!-- end row -->
    </div> <!-- end container -->
  </div> <!-- end section-container -->
  <hr>
  <div class="profile-container">
    <div class="container">
      <div class="row">
        <div class="page-header">
          <h2 class="page-h2">Repos Contributed        <small>repos contributed by user</small></h2>
        </div>
        <div class="contributed-class">
        </div>
      </div> <!-- end row -->
    </div> <!-- end container -->
  </div> <!-- end section-container -->

{% endblock %}

{% block extra_scripts %}
<script src="{% static 'js/js_lib/Chart.bundle.min.js' %}"></script>
<script src="{% static 'js/header.js' %}"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>
<script src="{% static 'js/utils.js' %}"></script>
<script src="{% static 'js/profile.js' %}"></script>
<script>
$(document).ready(function() {
    const token = $("#api-token").val(); 
    const url = "https://api.github.com/graphql"
    get_user_data(url, token, $("#user-name").text());
});
</script>
{% endblock %}
